import streamlit as st

def set_style():
    st.markdown("""
        <style>
        body {
            background-color: #111111;
            color: white;
        }

        .title {
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            margin-top: -30px;
            margin-bottom: 10px;
            color: white;
        }

        .station-title {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 15px;
            color: white;
        }

        .divider {
            border-left: 2px solid #666;
            height: 100%;
            margin: 0 auto;
        }

        .metric-box {
            background: #222;
            padding: 10px;
            margin: 6px 0;
            border-radius: 8px;
            text-align: center;
        }

        .metric-label {
            font-size: 16px;
            color: #aaa;
        }

        .metric-value {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }

        .metric-box.alerta {
            background: #660000;
            animation: pulse 1.5s infinite;
        }

        @keyframes pulse {
            0%   { box-shadow: 0 0 5px red; }
            50%  { box-shadow: 0 0 20px red; }
            100% { box-shadow: 0 0 5px red; }
        }

        .alert-card {
            background-color: #8B0000;
            color: white;
            text-align: center;
            font-size: 22px;
            padding: 30px;
            border-radius: 10px;
            font-weight: bold;
            margin-top: 20px;
        }

        </style>
    """, unsafe_allow_html=True)
